.form {

  // @include container;
  &__container {
    background-color: #202020;
    width: 90vw;
    height: 90vh;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: auto auto;
    // margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #2b2929;
    overflow: hidden;
  }

  &__wrapper {
    background-color: #3A3A3A;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    .logo {
      color: #8774e1;
      font-weight: bold;
      font-size: 24px;
      letter-spacing: 1px;

    }
    & p {
      color: #8774e1;
    }

    & a {
      transition: all 0.3s;

      &:hover {
        text-decoration: underline;
        transition: all 0.3s;
      }
    }

    .title {
      color: #8774e1;
      font-weight: bold;
      font-size: 16px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;


      input, button {
        border-radius: 5px;
        background-color: #3A3A3A;
        padding: 10px;
        border: 1px solid #202020;
        transition: all 0.4s;
        color: white;

        &::placeholder {
          color: #fff;
        }

        &:hover {
          border: 1px solid #8774e1;
          transition: all 0.4s;
        }
      }
    }
  }
}